/* Theme coreX_Light @Jeedom - Modern Light - Mobile */
::-webkit-scrollbar-thumb { background: rgb(148,163,184) !important; border-radius: 4px; }
html, body, textarea { scrollbar-color: rgb(148,163,184) transparent !important; }
.eqLogic.eqLogic-widget { color: var(--txt-color) !important; border-radius: var(--border-radius) !important; background-color: rgba(var(--eq-bg-color), var(--opacity)); border: 1px solid rgb(226,232,240) !important; }
.widget-name, .widget-name span, .widget-name a { color: var(--sc-lightTxt-color) !important; }
.ui-btn { color: var(--link-color) !important; }
.eqLogic.eqLogic-widget, .scenario.scenario-widget { background-color: rgba(var(--eq-bg-color), var(--opacity)); border-radius: var(--border-radius) !important; }
[data-category=security] .widget-name { background-color: rgba(var(--cat-security-color), var(--opacity)); }
[data-category=heating] .widget-name { background-color: rgba(var(--cat-heating-color), var(--opacity)); }
[data-category=automatism] .widget-name { background-color: rgba(var(--cat-automatism-color), var(--opacity)); }
[data-category=light] .widget-name { background-color: rgba(var(--cat-light-color), var(--opacity)); }
[data-category=opening] .widget-name { background-color: rgba(var(--cat-opening-color), var(--opacity)); }
[data-category=multimedia] .widget-name { background-color: rgba(var(--cat-multimedia-color), var(--opacity)); }
[data-category=energy] .widget-name { background-color: rgba(var(--cat-energy-color), var(--opacity)); }
[data-category=''] .widget-name, .eqLogic-widget:not([data-category]) .widget-name { background-color: rgba(var(--cat-other-color), var(--opacity)); }
.scenario.scenario-widget .widget-name { background-color: rgba(var(--cat-scenario-color), var(--opacity)); }
